body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #1a1a2e;

}

.header, .footer {
    background: #1a1a2e;
    color:#EAE8DD;
}


.header {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #EAE8DD;
    min-width: 0;
}

.spacer {
    display: flex;
    flex: 1;
    background-color: #EAE8DD;
    margin: 0;
}

#today-image {
    width: 100%;
    max-width: max-content;
    height: auto;
    flex-shrink: 1;
    /* min-width: min-content; */
    padding: 10px;
}

#guess-box {
    flex: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#score-box{
    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-dropdowns {
    flex: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.items {
    padding: 5;
}

button {
    background: #1a1a2e;
    color:#EAE8DD;
}