body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.header {
    height: 72px;
    background: #726622;
    color: rgb(7, 7, 7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer {
    height: 72px;
    background: #726622;
    color: rgb(7, 7, 7);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #EAE8DD;
}

.spacer {
    display: flex;
    flex: 1;
    background-color: #EAE8DD;
    margin: 0;
}

#today-image {
    max-width: max-content;
    min-width: min-content;
    padding: 10px;
}

#guess-box {
    flex: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.all-dropdowns {
    flex: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.items {
    padding: 5;
}